* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282828; 
    color: #ebdbb2; 
    font-family: Arial, sans-serif;
}

.resume {
    background-color: #3c3836; 
    padding: 20px;
    margin: 20px;
    border: 2px solid #504945; 
}

h1, h2, h3 {
    color: #d3869b; 
}

p {
    margin-bottom: 10px;
    padding: 10px; 
    border: 1px solid #504945; 
    background-color: #32302f; 
}

.experience-heading {
    color: #83a598; 
    margin-top: 15px;
}

.resume-content ul {
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 10px;
}

.resume-content h3:last-child {
    margin-top: 20px;
}
