.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-box {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 2px solid #504945; 
    background-color: #3c3836; 
    text-align: center;
    border-radius: 5px;
}

.image-label {
    color: #83a598; 
    font-size: 14px;
    margin-top: 5px;
}

.gruvbox-button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    background-color: #458588; 
    color: #ebdbb2; 
    text-decoration: none;
    border: 2px solid #458588; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.gruvbox-button:hover {
    background-color: #83a598; 
    color: #282828;
    border-color: #83a598;
}

